<%= link_to 'Nueva foto', administracion_agregar_fotos_path, class: "btn btn-primary" %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>URL</th>
      <th>Categoría</th>
      <th>Vista Previa</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.id %></td>
        <td><%= image.url %></td>
        <td><%= image.category %></td>
        <td><img src=<%= "#{image.url}" %> width="150" height="100" class="img-responsive" /></td>
        <td><%= link_to "Eliminar", borrar_imagen_path(image), data: { confirm: '¿Desea eliminar la imagen?' }, method: 'delete', class: "btn btn-danger" %> </td>
    </tr>
    <% end %>  
  </tbody>
</table>