		
<!-- contact-page -->
<div class="contact">
	<div class="container">
	<div class="dreamcrub">
			   	 <ul class="breadcrumbs">
                    <li class="home">
                       <a data-method="get" href="/" title="Go to Home Page">Inicio</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="women">
                       Contacto
                    </li>
                </ul>
                <ul class="previous">
                	<li><a data-method="get" href="/">Página anterior</a></li>
                </ul>
                <div class="clearfix"></div>
			   </div>
		<div class="contact-info">
			<h2>Encuentranos aquí</h2>
		</div>
		<div class="contact-map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6632.248000703498!2d151.265683!3d-33.7832959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12abc7edcbeb07%3A0x5017d681632bfc0!2sManly+Vale+NSW+2093%2C+Australia!5e0!3m2!1sen!2sin!4v1433329298259" style="border:0"></iframe>
		</div>
        
        <div>
            <h3 class="like text-left" >Elizabeth C. Salazar</h3>  
            <br>
            <p>Cel: 3116066229</p>
            <br>
            <br>
        </div>
        
		<div class="contact-form">
			<div class="contact-info">
				<h3>Envianos tus comentarios</h3>
			</div>
			<%= form_tag '/contactar' do %>
				<div class="contact-left">
					<%= text_field_tag 'nombre', nil, placeholder: "Nombre", required: 'true' %>
					<%= text_field_tag 'correo', nil, placeholder: "Correo", required: 'true' %>
					<%= text_field_tag 'tema', nil, placeholder: "Tema", required: 'true' %>
				</div>
				<div class="contact-right">
					<%= text_area_tag 'mensaje', nil, placeholder: "Mensaje...", required: "true"  %>
				</div>
				<div class="clearfix"></div>
				 <%= submit_tag 'Enviar' %>
			<% end %>
		</div>
	</div>
</div>
<!-- //contact-page -->