<!DOCTYPE html>
<html>
  <head>
    <title>Ruzovy</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="../../css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- for bootstrap working -->
      <script type="text/javascript" src="../../js/bootstrap-3.1.1.min.js"></script>
    <!-- //for bootstrap working -->
    <link rel="stylesheet" href="../../css/magnific-popup.css" type="text/css" media="screen" />
     <script type="text/javascript" src="../../js/jquery.magnific-popup.min.js"></script>  
  </head>
  <body>
    <%= render 'navbar' %>
     <% flash.each do |key, value| %>
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= value %>
        </div>
      <% end %>
    <%= yield %>
  </body>
</html>